/* Header Styles */
.navbar-default .navbar-brand {
  &:hover {
    color: #AAA;
  }
  
  color: #EEE;
}

.xi-header {
  background-color: #114955;
}

.navbar-default {
  .navbar-nav > li {
    > a {
      color: #EEE;
    }
    
    > a:hover {
      color: #AAA;
    }
  }
}

.xi-header-messages {
  > a:hover {
    color: #EEE;
  }
}

.xi-header-messages:hover > .xi-header-message-count {
  background-color: #8B0A10;
}

.xi-header-message-count {
  color: #EEE;
  background-color: #AD2C30;
}

.nav .open > a,
.navbar-default .navbar-nav > .open > a {
  &:hover {
    color: #AAA;
  }
  
  color: #AAA;
}