/* Server Status Styles */
.xi-server-status-container {
  color: #EEE;
  background: #45818E;
}

.xi-server-status-icon {
  > span {
    background: #EEE;
  }
}

.server-ok {
  color: #2CAD60;
}

.server-error {
  color: #AD2C30;
}