@import '../../shared';

@import 'header';
@import 'serverStatus';

// Global Styles
body {
  background: #EEE; 
}

// Login Styles
.xi-login-container {
  background: rgba(0,0,0,0.7);
  color: #EEE;
}