<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-show="{{ viewOptions.showHeader }}">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <i class="fa fa-home"></i>
      <span>XIWeb</span>
    </a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active" ui-sref="characters">
        <a>Characters</a>
      </li>
      <li ng-show="{{ viewOptions.showAuctionHouse }}" ui-sref-active="active" ui-sref="auctionHouse">
        <a>Auction House</a>
      </li>
      <li ui-sref-active="active" ui-sref="worldMap">
        <a>World Map</a>
      </li>
      <li ng-show="{{ viewOptions.showBeastiary }}" ui-sref-active="active" ui-sref="beastiary">
        <a>Beastiary</a>
      </li>
      <li ng-show="{{ viewOptions.showItems }}" ui-sref-active="active" ui-sref="items">
        <a>Items</a>
      </li>
      <li ng-show="{{ viewOptions.showSupport }}" ui-sref-active="active" ui-sref="support">
        <a>Support</a>
      </li>
    </ul>
  
    <ul class="nav navbar-nav navbar-right">
      <li ui-sref-active="active" ui-sref="account">
        <a>Account</a>
      </li>
      <li ng-show="{{ viewOptions.showMessages }}" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Messages <span ng-show="{{ user.newMessageCount() > 0 }}"><span class="badge">{{ user.newMessageCount() }}</span></span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-edit"></span> Compose Message
            </a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-envelope"></span> View Messages <span ng-show="{{ user.newMessageCount() > 0 }}"><span class="badge">{{ user.newMessageCount() }}</span></span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a>Logout</a>
      </li>
    </ul>
  </div>
</nav>
