<section class="xi-server-status">
    <div class="xi-server-status-container">
        <span><span i18n="common.SERVER_STATUS_SERVER"></span>: {{ serverInfo.ip }}</span>
        <span class="xi-server-status-icon" ng-class="serverInfo.status == 0 ? 'server-ok' : 'server-error'">
            <span class="glyphicon" ng-class="serverInfo.status == 0 ? 'glyphicon-ok-sign' : 'glyphicon-remove-sign'"></span>
        </span>
        <span>{{ (serverInfo.status | serverStatus) | i18n }}</span>
    </div>
</section>