/* Global Shared Styles */
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  color: #333;
  position: relative;
}

hr {
  margin: 10px 8px;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
  
  cursor: pointer;
  text-decoration: none;
}

/* Shared Component Styles */
.xi-button {
  border-radius: 0;
  border-width: 2px;
  border-style: solid;
}

/* Header Shared Styles */
// TODO: Remove this once it's an image
.xi-logo {
  font-family: Aclonica;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
}

.xi-header {
  border-bottom: 0;
}

.navbar-default {
  .navbar-nav > li {
    > a {
      cursor: pointer;
      text-decoration: none;
      font-size: 15px;
    }
  }
}

.navbar-nav.navbar-right {
  margin-right: 15px;
}

.xi-header-messages {
  position: relative;
}

.xi-header-message-count {
  position: absolute;
  bottom: 10px;
  right: 6px;
  min-width: 16px;
  padding: 5px 5px 0 4px;
  text-align: center;
  height: 17px;
  line-height: 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
}

.nav .open > a,
.navbar-default .navbar-nav > .open > a {
  &:hover {
    background-color: unset;
  }
  
  background-color: unset;
}

.dropdown-menu > li {
  > a {
    &:hover {
      background-color: #F0F0F0;
    }
  }
  cursor: pointer;
}

/* Server Status Shared Styles */
.xi-server-status {
  position: fixed;
  top: 50px;
}

.xi-server-status-container {
  font-size: 14px;
  padding: 5px;
}

.xi-server-status-icon {
  > span {
    border-radius: 15px;
    height: 13px;
    width: 13px;
    margin-top: 2px;
  }
  
  margin-left: 5px;
}

/* Login Shared Styles */
.xi-login-container {
  a {
    font-size: 15px;
  }
  width: 650px;
  display: table;
  margin: 200px auto 0;
}

.xi-container-header {
  > h1 {
    margin-left: 20px;
  }
}

.xi-container-instructions {
  margin: 15px 15px 25px;
}

.xi-container-fields {
  display: table;
  margin: auto;
}

.xi-container-field {
  > label {
    margin-right: 5px;
    width: 150px;
    font-size: 14px;
  }
  
  > input {
    width: 350px;
  }
  
  margin-bottom: 15px;
}

.xi-container-actions {
  display: table;
  margin: auto;
}

.xi-login-button {
  padding-left: 35px;
  padding-right: 35px;
  margin-right: 40px;
}

.xi-container-footer {
  > span {
    margin-right: 10px;
  }
  
  margin: 20px auto;
  display: table;
  font-size: 15px;
}

@media (max-width: 992px) {
  .xi-login-container {
    width: 550px;
  }
  
  .xi-container-field {
    > label {
      margin-right: 5px;
      width: 125px;
      font-size: 14px;
    }
    
    > input {
      width: 325px;
    }
  }
}

@media (max-width: 768px) {
  .xi-login-container {
    width: 400px;
  }
  
  .xi-container-field {
    > label {
      margin-right: 5px;
      width: 100px;
      font-size: 12px;
    }
    
    > input {
      width: 250px;
    }
  }
}

@media (max-width: 450px) {
  .xi-login-container {
    a {
      font-size: 13px;
    }
    
    width: 250px;
  }
  
  .xi-container-field {
    > label {
      margin-right: 5px;
      width: 95px;
      font-size: 10px;
    }
    
    > input {
      width: 125px;
    }
  }
  
  .xi-login-button {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
  }
  
  .xi-container-footer {
    font-size: 13px;
  }
}

/* Body Shared Styles */
.xi-background-image-container {
  position: fixed;
  top: 50px;
  z-index: -1;
}

.xi-body {
  margin-top: 50px;
}
